@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,100&display=swap');

body{
    margin: 0;
    background-image: linear-gradient(rgba(211, 211, 211, 0.8), rgba(128, 128, 128, 0.7));
}

header h1{
    font-family: 'Ysabeau', sans-serif;
}

aside .userHeader #userName{
    font-family: 'Ysabeau', sans-serif;
}